.hidden {
  display: none;
}

.container {
  width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    width: 1024px;
  }

  @media screen and (max-width: 1024px) {
    width: 744px;
  }

  @media screen and (max-width: 744px) {
    width: 100%;
    max-width: 399px;
  }
}

.info {
  padding: 30px 16px;
  border-left: 0.5px solid #2f5a8a;
  margin-left: 80px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1440px) {
    margin-left: 40px;
  }

  @media screen and (max-width: 1024px) {
    margin-left: 20px;
  }

  @media screen and (max-width: 744px) {
    margin-left: 16px;
  }
}

.title {
  color: #2f5a8a;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    font-size: 34px;
    letter-spacing: 0.68px;
  }

  @media screen and (max-width: 744px) {
    font-size: 24px;
    letter-spacing: 0.48px;
  }
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  width: 608px;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }

  @media screen and (max-width: 744px) {
    font-size: 16px;
    width: 100%;
    max-width: 351px;
  }
}

.input {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  border: 1px solid transparent;
  color: #000;
  padding: 22px 30px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 90%;
  letter-spacing: -0.54px;
  transition: all 0.3s ease;
  height: 58px;
  width: 100%;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  &:active,
  &:focus,
  &:focus-visible {
    border: 1px solid #bddbfd;
    background: rgba(255, 255, 255, 0.9);
  }

  &-wrap {
    position: relative;
    min-height: 58px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
      min-height: 116px;
    }

    & textarea {
      resize: none;
      min-height: 116px;
    }
  }
}

.invalid .invalid-field {
  border: 1px solid #ffb6b6;
  background: rgba(255, 255, 255, 0.9);
}

.label {
  color: #9c9c9c;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 90%;
  letter-spacing: -0.54px;
  position: absolute;
  top: 22px;
  left: 30px;
  transition: all 0.3s ease;
  pointer-events: none;

  .active & {
    color: #9c9c9c;
    font-size: 12px;
    letter-spacing: -0.36px;
    top: 8px;
  }
}

.message {
  color: #9c9c9c;
  font-size: 12px;
  font-weight: 300;
  line-height: 90%;
  letter-spacing: -0.36px;
  animation: fadeIn 0.3s ease-in;
  margin: 6px 0 0 23px;
}

.btn {
  border-radius: 2px;
  border: 0.5px solid #2f5a8a;
  background: rgba(189, 219, 253, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  text-align: center;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 0 100px;
  height: 65px;
  line-height: 65px;
  color: #2f5a8a;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &.inactive {
    border: 0.5px solid rgba(47, 90, 138, 0.7);
    color: rgba(47, 90, 138, 0.7);
    cursor: default;

    &:hover,
    &:active {
      color: rgba(47, 90, 138, 0.7);
      background: rgba(189, 219, 253, 0.05);
    }
  }

  &:hover {
    background: rgba(189, 219, 253, 0.16);
  }

  &:active {
    background: rgba(189, 219, 253, 0.5);
    color: #0c1a29;
  }
}

.spinner {
  margin: 100px auto 0;
  border: 10px solid #c8d4e1e7;
  border-radius: 50%;
  border-top: 10px solid #2f5a8a;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;

  &_small {
    width: 53px;
    height: 53px;
    margin: 0;
    border-width: 7px;
    margin-top: 20px;

    @media screen and (max-width: 744px) {
      margin: 20px auto 0;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
