.main {
  background: linear-gradient(180deg, #f6ede7 0%, #fef4ed 100%);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;

  &_1 {
    background: #fffaf6;
    width: 1164px;
    height: 1164px;
    top: 469px;
    right: calc((100vw - 1440px) / 2 + 138px);

    @media screen and (max-width: 1440px) {
      right: calc((100vw - 1024px) / 2 - 70px);
    }

    @media screen and (max-width: 1024px) {
      width: 747px;
      height: 747px;
      right: calc((100vw - 744px) / 2);
      top: 499px;
    }

    @media screen and (max-width: 744px) {
      right: calc((100vw - 399px) / 2 - 174px);
      top: 369px;
    }
  }

  &_2 {
    background: #f0ddce;
    width: 1430px;
    height: 1430px;
    top: 2511px;
    right: calc((100vw - 1440px) / 2 + 45px);

    @media screen and (max-width: 1440px) {
      right: calc((100vw - 1024px) / 2 - 346px);
    }

    @media screen and (max-width: 1024px) {
      width: 695px;
      height: 695px;
      right: calc((100vw - 744px) / 2 + 84px);
      top: 2377px;
    }

    @media screen and (max-width: 744px) {
      right: calc((100vw - 399px) / 2 - 261px);
    }
  }

  &_3 {
    background: #fff4ec;
    width: 705px;
    height: 705px;
    top: 3784px;
    left: calc((100vw - 1440px) / 2 + 804px);

    @media screen and (max-width: 1440px) {
      left: calc((100vw - 1024px) / 2 + 665px);
    }

    @media screen and (max-width: 1024px) {
      left: calc((100vw - 744px) / 2 + 478px);
    }

    @media screen and (max-width: 744px) {
      left: calc((100vw - 399px) / 2 + 248px);
      top: 3650px;
    }
  }

  &_4 {
    background: #f0ddce;
    width: 892px;
    height: 892px;
    top: 4147px;
    right: calc((100vw - 1440px) / 2 + 648px);

    @media screen and (max-width: 1440px) {
      right: calc((100vw - 1024px) / 2 + 232px);
    }

    @media screen and (max-width: 1024px) {
      right: calc((100vw - 744px) / 2 - 48px);
    }

    @media screen and (max-width: 744px) {
      right: calc((100vw - 399px) / 2 - 393px);
      top: 4000px;
    }
  }

  &_5 {
    background: #fff1e6;
    width: 1109px;
    height: 1109px;
    top: 4972px;
    left: calc((100vw - 1440px) / 2 + 538px);

    @media screen and (max-width: 1440px) {
      left: calc((100vw - 1024px) / 2 + 399px);
    }

    @media screen and (max-width: 1024px) {
      left: calc((100vw - 744px) / 2 + 306px);
    }

    @media screen and (max-width: 744px) {
      left: calc((100vw - 399px) / 2 + 191px);
      top: 4750px;
    }
  }

  &_6 {
    background: #f6e4d6;
    width: 1109px;
    height: 1109px;
    top: 6281px;
    right: calc((100vw - 1440px) / 2 + 356px);

    @media screen and (max-width: 1440px) {
      right: calc((100vw - 1024px) / 2 - 60px);
    }

    @media screen and (max-width: 1024px) {
      right: calc((100vw - 744px) / 2 - 340px);
    }

    @media screen and (max-width: 744px) {
      right: calc((100vw - 399px) / 2 - 685px);
      top: 5920px;
    }
  }

  &_7 {
    background: #f4e2d4;
    width: 1109px;
    height: 1109px;
    top: 7789px;
    left: calc((100vw - 1440px) / 2 + 559px);

    @media screen and (max-width: 1440px) {
      left: calc((100vw - 1024px) / 2 + 420px);
    }

    @media screen and (max-width: 1024px) {
      left: calc((100vw - 744px) / 2 + 327px);
    }

    @media screen and (max-width: 744px) {
      left: calc((100vw - 399px) / 2 + 72px);
      top: 7300px;
    }
  }

  &_8 {
    background: #f7f2ee;
    width: 833px;
    height: 833px;
    top: 9590px;
    left: calc((100vw - 1440px) / 2);

    @media screen and (max-width: 1440px) {
      left: calc((100vw - 1024px) / 2);
    }

    @media screen and (max-width: 1024px) {
      left: calc((100vw - 744px) / 2);
      top: 9276px;
    }

    @media screen and (max-width: 744px) {
      left: calc((100vw - 399px) / 2);
      top: 8750px;
    }
  }

  &_9 {
    background: #f3e0d3;
    width: 1575px;
    height: 1575px;
    top: 12368px;
    left: calc((100vw - 1440px) / 2 + 303px);

    @media screen and (max-width: 1440px) {
      width: 1491px;
      height: 1491px;
      top: 11704px;
      left: calc((100vw - 1024px) / 2 + 40px);
    }

    @media screen and (max-width: 1024px) {
      width: 692px;
      height: 692px;
      left: calc((100vw - 744px) / 2 + 26px);
      top: 11314px;
    }

    @media screen and (max-width: 744px) {
      width: 511px;
      height: 511px;
      left: calc((100vw - 399px) / 2 - 56px);
      top: 9440px;
    }
  }
}

.info-block {
  padding: 42px 80px 0;
  margin-bottom: 120px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1440px) {
    padding: 40px 40px 0;
    margin-bottom: 126px;
  }

  @media screen and (max-width: 1024px) {
    padding: 20px 20px 0;
    margin-bottom: 185px;
  }

  @media screen and (max-width: 744px) {
    padding: 20px 16px 0;
    margin-bottom: 100px;
  }

  &__block {
    position: absolute;
    top: 92px;
    right: 0;
    width: 208px;
    height: 795px;
    background: #fff;

    @media screen and (max-width: 1024px) {
      top: 28px;
      width: 116px;
      height: 445px;
    }

    @media screen and (max-width: 744px) {
      width: 34.22%;
    }
  }

  &__title {
    color: #2f5a8a;
    font-size: 70px;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    padding: 30px 350px 30px 16px;
    border: 0.5px solid #2f5a8a;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      padding-right: 50px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 54px;
      padding-right: 16px;
    }

    @media screen and (max-width: 744px) {
      font-size: 24px;
    }
  }

  &__text {
    color: #2f5a8a;
    font-size: 30px;
    line-height: 150%;
    padding: 30px 16px;
    border: 0.5px solid #2f5a8a;
    border-top: none;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
    }

    @media screen and (max-width: 744px) {
      font-size: 16px;
    }
  }

  &__parameters {
    display: flex;
    flex-wrap: wrap;
  }

  &__parameter {
    padding: 30px 16px;
    border: 0.5px solid #2f5a8a;
    border-top: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);

    &:last-of-type {
      border-right: 0.5px solid #2f5a8a;
    }

    @media screen and (max-width: 1440px) {
      width: calc(100% / 3);

      &:nth-of-type(3) {
        border-right: 0.5px solid #2f5a8a;
      }
    }

    @media screen and (max-width: 744px) {
      width: calc(100% / 2);

      &:nth-of-type(n) {
        border-right: none;
      }

      &:nth-of-type(2n) {
        border-right: 0.5px solid #2f5a8a;
      }
    }
  }

  &__key {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 6px;

    @media screen and (max-width: 744px) {
      font-size: 16px;
      letter-spacing: 0.32px;
    }

    @media screen and (max-width: 375px) {
      font-size: 14px;
      letter-spacing: 0.25px;
    }

    @media screen and (max-width: 340px) {
      font-size: 12px;
      letter-spacing: 0.2px;
    }
  }

  &__value {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 744px) {
      font-size: 16px;
    }

    @media screen and (max-width: 375px) {
      font-size: 14px;
    }

    @media screen and (max-width: 340px) {
      font-size: 12px;
    }
  }
}

.image {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 19px;
  }

  @media screen and (max-width: 744px) {
    margin-bottom: 10px;
  }

  &__pic {
    width: 1280px;

    @media screen and (max-width: 1440px) {
      width: 944px;
    }

    @media screen and (max-width: 1024px) {
      width: 704px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }

  &__ref {
    position: absolute;
    padding: 20px 17px;
    width: 205px;
    height: 158px;
    border: 0.444px solid #fff;
    color: #fff;
    top: 44px;
    right: 44px;

    @media screen and (max-width: 1440px) {
      padding: 20px;
      width: 202px;
      height: 150px;
      top: 32px;
      right: 85px;
    }

    @media screen and (max-width: 1024px) {
      padding: 10px;
      width: 182px;
      height: 136px;
      top: 27px;
      right: 31px;
    }

    @media screen and (max-width: 744px) {
      width: 130px;
      height: 158px;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      -moz-backdrop-filter: blur(5px);
      top: 10.1%;
      right: 59.1%;
    }

    @media screen and (max-width: 374px) {
      width: 100px;
      height: 120px;
    }

    @media screen and (max-width: 290px) {
      padding: 8px;
      width: 80px;
      height: 90px;
    }
  }

  &__place {
    font-size: 21px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;

    @media screen and (max-width: 1440px) {
      font-size: 20px;
    }

    @media screen and (max-width: 744px) {
      font-size: 16px;
      letter-spacing: 0.8px;
    }

    @media screen and (max-width: 374px) {
      font-size: 14px;
      letter-spacing: 0.7px;
    }

    @media screen and (max-width: 290px) {
      font-size: 12px;
      letter-spacing: 0.6px;
      margin-bottom: 5px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-bottom: 5px;

    @media screen and (max-width: 744px) {
      font-size: 12px;
      letter-spacing: 0.6px;
    }

    @media screen and (max-width: 374px) {
      font-size: 10px;
      letter-spacing: 0.5px;
    }

    @media screen and (max-width: 290px) {
      font-size: 8px;
      letter-spacing: 0.4px;
      margin-bottom: 3px;
    }
  }

  &__area {
    position: absolute;
    top: 339px;
    right: 343px;
    width: 200px;
    height: 58px;
    border: 0.444px solid #fff;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 44.444px 0px rgba(0, 0, 0, 0.4);

    @media screen and (max-width: 1440px) {
      top: 250px;
      right: 255px;
      width: 147.5px;
      height: 42.5px;
    }

    @media screen and (max-width: 1024px) {
      top: 208px;
      right: 188px;
      width: 110px;
      height: 35px;
    }

    @media screen and (max-width: 744px) {
      top: 54.7%;
      right: 26.9%;
      width: 15.6%;
      height: 9.2%;
    }
  }

  &__dot {
    display: none;

    @media screen and (max-width: 744px) {
      display: block;
      position: absolute;
      top: 8.89%;
      right: 70.35%;
      width: 17.45%;
    }
  }

  &__circle1 {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);

    @media screen and (max-width: 1440px) {
      top: 4px;
      right: 105px;
    }

    @media screen and (max-width: 1024px) {
      top: 2px;
      right: 76px;
    }

    @media screen and (max-width: 744px) {
      display: none;
    }
  }

  &__circle2 {
    position: absolute;
    transform: translate(40%, 40%);
    width: 14.5px;
    height: 14.5px;
    border-radius: 50%;
    background: #fff;
  }

  &__arrow {
    position: absolute;
    top: 191px;
    right: 240px;

    @media screen and (max-width: 1440px) {
      top: 174px;
      right: 279px;
    }

    @media screen and (max-width: 1024px) {
      top: 156px;
      right: 206px;
    }

    @media screen and (max-width: 744px) {
      width: 22.51%;
      height: 44.31%;
      top: 14.9%;
      right: 38.66%;
    }
  }
}

.rooms {
  margin-bottom: 100px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    margin-bottom: 108px;
  }

  @media screen and (max-width: 744px) {
    margin-bottom: 80px;
  }

  &__info {
    height: 363px;

    @media screen and (max-width: 1024px) {
      height: 279px;
    }

    @media screen and (max-width: 744px) {
      min-height: 253px;
      height: auto;
    }
  }

  &__title {
    width: 470px;

    @media screen and (max-width: 1024px) {
      width: 400px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      max-width: 270px;
    }
  }

  &__block {
    width: 100%;
    height: 208px;
    background: #fff;
    position: absolute;
    top: 327px;

    @media screen and (max-width: 1024px) {
      height: 199px;
      top: 482px;
    }

    @media screen and (max-width: 744px) {
      width: 256px;
      top: 492px;
      right: 0;
    }
  }

  &__images {
    padding-top: 20px;
    margin-top: -36px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1024px) {
      padding-top: 0;
      margin-top: 0;
    }
  }

  &__img {
    &_1 {
      width: 310px;
      margin-right: 20px;

      @media screen and (max-width: 1440px) {
        width: 283px;
      }

      @media screen and (max-width: 1024px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 744px) {
        width: 70.93%;
        margin: 0 0 10px;
      }
    }

    &_2 {
      width: 382px;
      margin-right: 20px;

      @media screen and (max-width: 1024px) {
        width: 451px;
        margin-right: 0;
      }

      @media screen and (max-width: 744px) {
        width: 100%;
      }
    }

    &_3 {
      width: 310px;
      margin-right: 20px;

      @media screen and (max-width: 1440px) {
        display: none;
      }
    }

    &_4 {
      width: 378px;

      @media screen and (max-width: 1440px) {
        width: 319px;
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.nature {
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 1440px) {
    padding: 0 40px;
    margin-bottom: 110px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 20px;
    margin-bottom: 160px;
  }

  @media screen and (max-width: 744px) {
    margin-bottom: 120px;
    padding: 0;
  }

  &__img1 {
    width: 964px;
    margin: 0 20px 20px 0;

    @media screen and (max-width: 1440px) {
      width: 618px;
      margin-right: 30px;
    }

    @media screen and (max-width: 1024px) {
      width: 704px;
      margin: 0 0 10px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    padding: 30px 16px;
    border-left: 2px solid #3a63af;
    width: 296px;
    height: 322px;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      width: 298px;
      height: 324px;
      position: absolute;
      top: 608px;
      right: 20px;
    }

    @media screen and (max-width: 744px) {
      position: static;
      order: -1;
      height: auto;
      min-height: 240px;
      margin-left: 16px;
      font-size: 16px;
    }
  }

  &__img2 {
    width: 620px;
    margin-right: 20px;

    @media screen and (max-width: 1440px) {
      width: 462px;
    }

    @media screen and (max-width: 1024px) {
      width: 396px;
      margin: 0 0 10px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }

  &__img3 {
    width: 615px;

    @media screen and (max-width: 1440px) {
      width: 462px;
    }

    @media screen and (max-width: 1024px) {
      width: 396px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }
}

.apartment {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 160px;
  }

  &__block {
    width: 992px;
    height: 208px;
    background: #fff;
    position: absolute;
    bottom: -50px;
    left: 0;

    @media screen and (max-width: 1440px) {
      width: 676px;
      height: 122px;
      bottom: -80px;
    }

    @media screen and (max-width: 1024px) {
      bottom: -35px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      bottom: -43px;
    }
  }

  &__info {
    height: 520px;

    @media screen and (max-width: 1440px) {
      height: 478px;
    }

    @media screen and (max-width: 1024px) {
      height: 394px;
    }

    @media screen and (max-width: 744px) {
      height: auto;
      min-height: 460px;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.kitchen {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 244px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 160px;
  }

  &__block {
    width: 792px;
    height: 208px;
    background: #fff;
    position: absolute;
    top: 294px;
    right: 110px;

    @media screen and (max-width: 1440px) {
      width: 458px;
      top: 580px;
      right: 0;
    }

    @media screen and (max-width: 1024px) {
      top: 615px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      height: 182px;
      top: 570px;
    }
  }

  &__info {
    height: 294px;

    @media screen and (max-width: 1440px) {
      height: 277px;
    }

    @media screen and (max-width: 1024px) {
      height: 259px;
    }

    @media screen and (max-width: 744px) {
      height: auto;
      min-height: 245px;
    }
  }

  &__img1 {
    height: 498px;
    margin-right: 19px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      height: 454px;
    }

    @media screen and (max-width: 1024px) {
      margin: 0 0 10px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      height: auto;
    }
  }

  &__img2 {
    height: 370px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      height: 308px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
      height: auto;
    }
  }
}

.livingroom {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 180px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 160px;
  }

  &__block {
    width: 208px;
    height: 792px;
    background: #fff;
    position: absolute;
    top: 681px;
    right: 0;

    @media screen and (max-width: 1440px) {
      width: 139px;
      top: 620px;
    }

    @media screen and (max-width: 1024px) {
      width: 170px;
      height: 648px;
      top: 80px;
    }

    @media screen and (max-width: 744px) {
      width: 154px;
      height: 588px;
      top: 10px;
    }
  }

  &__info {
    height: 294px;

    @media screen and (max-width: 1024px) {
      height: 259px;
    }

    @media screen and (max-width: 744px) {
      height: auto;
      min-height: 265px;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.bedroom {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 180px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 160px;
  }

  &__block {
    width: 1066px;
    height: 208px;
    background: #fff;
    position: absolute;
    top: 1028px;
    left: 80px;

    @media screen and (max-width: 1440px) {
      width: 816px;
      height: 160px;
      top: 903px;
      left: 0;
    }

    @media screen and (max-width: 1024px) {
      width: 189px;
      height: 878px;
      top: 328px;
      left: 555px;
    }

    @media screen and (max-width: 744px) {
      top: 162px;
      left: 210px;
    }
  }

  &__info {
    height: 402px;

    @media screen and (max-width: 1440px) {
      height: 362px;
    }

    @media screen and (max-width: 1024px) {
      height: 286px;
    }

    @media screen and (max-width: 744px) {
      height: auto;
      min-height: 290px;
    }
  }

  &__images {
    margin-top: -30px;

    @media screen and (max-width: 1440px) {
      margin-top: -35px;
    }

    @media screen and (max-width: 1024px) {
      margin-top: 0;
    }
  }

  &__img1 {
    width: 608px;
    margin: 0 20px 60px 0;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      width: 476px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1024px) {
      width: 582px;
      margin: 0 0 10px;
    }

    @media screen and (max-width: 744px) {
      width: 96.24%;
    }
  }

  &__img2 {
    width: 812px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      width: 528px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1024px) {
      width: 660px;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 744px) {
      width: 80.45%;
    }
  }

  &__img3 {
    width: 710px;
    margin: 0 20px 86px 0;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      width: 551px;
      margin-bottom: 37px;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__img4 {
    width: 710px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1440px) {
      width: 453px;
    }

    @media screen and (max-width: 1024px) {
      width: 555px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }
}

.terraces {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 160px;
  }

  &__info {
    height: 342px;

    @media screen and (max-width: 1024px) {
      height: 286px;
    }

    @media screen and (max-width: 744px) {
      height: auto;
      min-height: 310px;
    }
  }

  &__img {
    width: 100%;
  }
}

.plan {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 150px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 110px;
  }

  @media screen and (max-width: 744px) {
    margin-bottom: 120px;
  }

  &__info {
    height: 108px;

    @media screen and (max-width: 1024px) {
      height: 101px;
    }

    @media screen and (max-width: 744px) {
      height: 90px;
    }
  }

  &__img {
    width: 944px;
    display: block;
    margin: 40px auto;

    @media screen and (max-width: 1024px) {
      width: 704px;
      margin: 20px auto;
    }

    @media screen and (max-width: 744px) {
      width: calc(100% - 32px);
      margin-top: 9px;
    }
  }

  &__data {
    display: flex;
    margin-left: 248px;

    @media screen and (max-width: 1440px) {
      margin-left: 109px;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    @media screen and (max-width: 1024px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 744px) {
      flex-direction: column-reverse;
      margin: 0 16px;
    }
  }

  &__area {
    width: 393px;
    margin-right: 60px;

    @media screen and (max-width: 1440px) {
      margin-right: 0;
    }

    @media screen and (max-width: 1024px) {
      width: 341px;
    }

    @media screen and (max-width: 744px) {
      width: 100%;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__key,
  &__value {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;

    .plan__line:last-of-type & {
      font-weight: 600;
    }

    @media screen and (max-width: 345px) {
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }

  &__items {
    display: flex;

    @media screen and (max-width: 744px) {
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;

    & .plan__key {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 1024px) {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 10px;
      }
    }

    @media screen and (max-width: 744px) {
      margin-right: 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.location {
  position: relative;
  z-index: 1;
  margin-bottom: 110px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 170px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 150px;
  }

  @media screen and (max-width: 744px) {
    margin-bottom: 160px;
  }

  &__info {
    height: 108px;

    @media screen and (max-width: 1024px) {
      height: 101px;
    }

    @media screen and (max-width: 744px) {
      height: 90px;
    }
  }

  &__img {
    display: block;
    margin: 40px auto 0;
    width: 1280px;

    @media screen and (max-width: 1440px) {
      margin-top: 20px;
      width: 944px;

      &:first-of-type {
        margin-top: 40px;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 704px;

      &:first-of-type {
        margin-top: 20px;
      }
    }

    @media screen and (max-width: 744px) {
      width: calc(100% - 32px);
    }
  }
}

.data {
  padding: 0 80px;
  position: relative;
  z-index: 1;
  margin-bottom: 440px;

  @media screen and (max-width: 1440px) {
    padding: 0 40px;
    margin-bottom: 403px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 20px;
    margin-bottom: 352px;
  }

  @media screen and (max-width: 744px) {
    padding: 0 16px;
    margin-bottom: 240px;
  }

  &__line {
    padding-bottom: 20px;
    margin-top: 40px;
    display: flex;
    align-items: start;
    position: relative;

    @media screen and (max-width: 1024px) {
      &:first-of-type .data__label,
      &:last-of-type .data__label {
        display: none;
      }
    }

    &:first-of-type {
      margin-top: 0;

      & .data__info {
        color: #2f5a8a;
        font-size: 40px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        width: 518px;

        @media screen and (max-width: 1024px) {
          font-size: 34px;
          letter-spacing: 0.68px;
        }

        @media screen and (max-width: 744px) {
          font-size: 24px;
          letter-spacing: 0.48px;
          width: 220px;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #2f5a8a;
    }
  }

  &__label {
    display: block;
    width: 538px;
    margin-right: 10px;
    color: #2f5a8a;
    font-family: "Suisse Int'l", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;

    @media screen and (max-width: 1440px) {
      width: 360px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 18px;
      width: 200px;
    }

    @media screen and (max-width: 744px) {
      font-size: 16px;
      width: 100px;
    }

    @media screen and (max-width: 345px) {
      font-size: 14px;
      width: 70px;
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    animation: fadeIn 0.3s ease-in;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }

    @media screen and (max-width: 744px) {
      font-size: 16px;
    }

    @media screen and (max-width: 345px) {
      font-size: 14px;
    }
  }
}

.form {
  width: 538px;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &__title {
    margin-bottom: 40px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-top: 20px;

    @media screen and (max-width: 744px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.footer {
  padding: 80px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1440px) {
    padding: 80px 40px;
  }

  @media screen and (max-width: 744px) {
    padding: 80px 16px 70px;
  }

  &__text {
    color: #2f5a8a;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-right: 20px;

    .footer > & {
      display: block;
      max-width: 350px;
    }

    @media screen and (max-width: 744px) {
      margin: 0 0 10px;
      text-align: center;
    }

    &-wrap {
      margin-top: 10px;

      & .footer__text {
        cursor: pointer;
      }

      @media screen and (max-width: 744px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
